---
import BaseLayout from "../layouts/BaseLayout.astro";

let title = "About";

---

<BaseLayout title = {title}>

	<p>About - Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati odio corrupti saepe, itaque cumque dignissimos delectus consectetur quia fugiat in facere voluptates vero fugit laborum. Atque cupiditate placeat exercitationem qui.</p>

</BaseLayout>